In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [86]:
#reading the file
data=pd.read_csv('Placement_Data_Full_Class.csv - Sheet1.csv')
data

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
5,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
6,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
8,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
9,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
10,11,M,58.00,Central,61.00,Central,Commerce,60.00,Comm&Mgmt,Yes,62.00,Mkt&HR,60.85,Placed,260000.0
11,12,M,69.60,Central,68.40,Central,Commerce,78.30,Comm&Mgmt,Yes,60.00,Mkt&Fin,63.70,Placed,250000.0
12,13,F,47.00,Central,55.00,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
13,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
14,15,M,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
15,16,F,65.00,Central,75.00,Central,Commerce,69.00,Comm&Mgmt,Yes,72.00,Mkt&Fin,64.66,Placed,200000.0
16,17,M,63.00,Central,66.20,Central,Commerce,65.60,Comm&Mgmt,Yes,60.00,Mkt&Fin,62.54,Placed,300000.0
17,18,F,55.00,Central,67.00,Central,Commerce,64.00,Comm&Mgmt,No,60.00,Mkt&Fin,67.28,Not Placed,NaN
18,19,F,63.00,Central,66.00,Central,Commerce,64.00,Comm&Mgmt,No,68.00,Mkt&HR,64.08,Not Placed,NaN
19,20,M,60.00,Others,67.00,Others,Arts,70.00,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,Placed,236000.0
20,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
21,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
22,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
23,24,F,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0
24,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
25,26,F,52.58,Others,54.60,Central,Commerce,50.20,Comm&Mgmt,Yes,76.00,Mkt&Fin,65.33,Not Placed,NaN
26,27,M,71.00,Others,79.00,Others,Commerce,66.00,Comm&Mgmt,Yes,94.00,Mkt&Fin,57.55,Placed,240000.0
27,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
28,29,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,Placed,350000.0
29,30,M,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
186,187,F,52.00,Central,64.00,Central,Commerce,61.00,Comm&Mgmt,No,55.00,Mkt&Fin,62.93,Not Placed,NaN
187,188,M,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0
188,189,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
189,190,F,54.00,Central,77.60,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
190,191,F,64.00,Others,70.20,Central,Commerce,61.00,Comm&Mgmt,No,50.00,Mkt&Fin,62.50,Not Placed,NaN
191,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
192,193,M,65.20,Central,61.40,Central,Commerce,64.80,Comm&Mgmt,Yes,93.40,Mkt&Fin,57.34,Placed,270000.0
193,194,F,60.00,Central,63.00,Central,Arts,56.00,Others,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
194,195,M,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.00,Mkt&Fin,64.74,Not Placed,NaN
195,196,M,66.00,Central,76.00,Central,Commerce,72.00,Comm&Mgmt,Yes,84.00,Mkt&HR,58.95,Placed,275000.0
196,197,M,72.00,Others,63.00,Others,Science,77.50,Sci&Tech,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0
197,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
198,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
199,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
200,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
201,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
202,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
203,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
204,205,F,74.00,Others,73.00,Others,Commerce,73.00,Comm&Mgmt,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0
205,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
206,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
207,208,M,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
208,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
209,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [87]:
#droping the serial no and salary col
data=data.drop('sl_no',axis=1)
data=data.drop('salary',axis=1)
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [88]:
# for i in range(0,215):
#     if(data['gender'][i]=='M'):
#         data['gender'][i]=1
#     else:
#         data['gender'][i]=0


#catgorising col for further labelling
data["gender"]=data["gender"].astype('category')
data["ssc_b"]=data["ssc_b"].astype('category')
data["hsc_b"]=data["hsc_b"].astype('category')
data["degree_t"]=data["degree_t"].astype('category')
data["workex"]=data["workex"].astype('category')
data["specialisation"]=data["specialisation"].astype('category')
data["status"]=data["status"].astype('category')
data["hsc_s"]=data["hsc_s"].astype('category')
data.dtypes

gender            category
ssc_p              float64
ssc_b             category
hsc_p              float64
hsc_b             category
hsc_s             category
degree_p           float64
degree_t          category
workex            category
etest_p            float64
specialisation    category
mba_p              float64
status            category
dtype: object

In [89]:
#labelling the col
data["gender"]=data["gender"].cat.codes
data["ssc_b"]=data["ssc_b"].cat.codes
data["hsc_b"]=data["hsc_b"].cat.codes
data["degree_t"]=data["degree_t"].cat.codes
data["workex"]=data["workex"].cat.codes
data["specialisation"]=data["specialisation"].cat.codes
data["status"]=data["status"].cat.codes
data["hsc_s"]=data["hsc_s"].cat.codes
data

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,67.00,1,91.00,1,1,58.00,2,0,55.00,1,58.80,1
1,1,79.33,0,78.33,1,2,77.48,2,1,86.50,0,66.28,1
2,1,65.00,0,68.00,0,0,64.00,0,0,75.00,0,57.80,1
3,1,56.00,0,52.00,0,2,52.00,2,0,66.00,1,59.43,0
4,1,85.80,0,73.60,0,1,73.30,0,0,96.80,0,55.50,1
5,1,55.00,1,49.80,1,2,67.25,2,1,55.00,0,51.58,0
6,0,46.00,1,49.20,1,1,79.00,0,0,74.28,0,53.29,0
7,1,82.00,0,64.00,0,2,66.00,2,1,67.00,0,62.14,1
8,1,73.00,0,79.00,0,1,72.00,0,0,91.34,0,61.29,1
9,1,58.00,0,70.00,0,1,61.00,0,0,54.00,0,52.21,0
10,1,58.00,0,61.00,0,1,60.00,0,1,62.00,1,60.85,1
11,1,69.60,0,68.40,0,1,78.30,0,1,60.00,0,63.70,1
12,0,47.00,0,55.00,1,2,65.00,0,0,62.00,1,65.04,0
13,0,77.00,0,87.00,0,1,59.00,0,0,68.00,0,68.63,1
14,1,62.00,0,47.00,0,1,50.00,0,0,76.00,1,54.96,0
15,0,65.00,0,75.00,0,1,69.00,0,1,72.00,0,64.66,1
16,1,63.00,0,66.20,0,1,65.60,0,1,60.00,0,62.54,1
17,0,55.00,0,67.00,0,1,64.00,0,0,60.00,0,67.28,0
18,0,63.00,0,66.00,0,1,64.00,0,0,68.00,1,64.08,0
19,1,60.00,1,67.00,1,0,70.00,0,1,50.48,0,77.89,1
20,1,62.00,1,65.00,1,1,66.00,0,0,50.00,1,56.70,1
21,0,79.00,1,76.00,1,1,85.00,0,0,95.00,0,69.06,1
22,0,69.80,1,60.80,1,2,72.23,2,0,55.53,1,68.81,1
23,0,77.40,1,60.00,1,2,64.74,2,1,92.00,0,63.62,1
24,1,76.50,1,97.70,1,2,78.86,2,0,97.40,0,74.01,1
25,0,52.58,1,54.60,0,1,50.20,0,1,76.00,0,65.33,0
26,1,71.00,1,79.00,1,1,66.00,0,1,94.00,0,57.55,1
27,1,63.00,1,67.00,1,1,66.00,0,0,68.00,1,57.69,1
28,1,76.76,1,76.50,1,1,67.50,0,1,73.35,0,64.15,1
29,1,62.00,0,67.00,0,1,58.00,0,0,77.00,0,51.29,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,0,88.00,0,72.00,0,2,78.00,1,0,82.00,1,71.43,1
186,0,52.00,0,64.00,0,1,61.00,0,0,55.00,0,62.93,0
187,1,78.50,0,65.50,0,2,67.00,2,1,95.00,0,64.86,1
188,1,61.80,1,47.00,1,1,54.38,0,0,57.00,0,56.13,0
189,0,54.00,0,77.60,1,1,69.20,0,0,95.65,0,66.94,0
190,0,64.00,1,70.20,0,1,61.00,0,0,50.00,0,62.50,0
191,1,67.00,1,61.00,0,2,72.00,0,0,72.00,0,61.01,1
192,1,65.20,0,61.40,0,1,64.80,0,1,93.40,0,57.34,1
193,0,60.00,0,63.00,0,0,56.00,1,1,80.00,1,56.63,1
194,1,52.00,1,55.00,1,1,56.30,0,0,59.00,0,64.74,0
195,1,66.00,0,76.00,0,1,72.00,0,1,84.00,1,58.95,1
196,1,72.00,1,63.00,1,2,77.50,2,1,78.00,0,54.48,1
197,0,83.96,1,53.00,1,2,91.00,2,0,59.32,1,69.71,1
198,0,67.00,0,70.00,0,1,65.00,1,0,88.00,1,71.96,0
199,1,69.00,1,65.00,1,1,57.00,0,0,73.00,1,55.80,1
200,1,69.00,1,60.00,1,1,65.00,0,0,87.55,0,52.81,1
201,1,54.20,0,63.00,1,2,58.00,0,0,79.00,1,58.44,0
202,1,70.00,0,63.00,0,2,66.00,2,0,61.28,1,60.11,1
203,1,55.68,1,61.33,1,1,56.87,0,0,66.00,1,58.30,1
204,0,74.00,1,73.00,1,1,73.00,0,1,80.00,0,67.69,1
205,1,61.00,1,62.00,1,1,65.00,0,0,62.00,0,56.81,1
206,1,41.00,0,42.00,0,2,60.00,0,0,97.00,0,53.39,0
207,1,83.33,0,78.00,1,1,61.00,0,1,88.56,0,71.55,1
208,0,43.00,0,60.00,1,2,65.00,0,0,92.66,1,62.92,0
209,1,62.00,0,72.00,0,1,65.00,0,0,67.00,0,56.49,1
210,1,80.60,1,82.00,1,1,77.60,0,0,91.00,0,74.49,1
211,1,58.00,1,60.00,1,2,72.00,2,0,74.00,0,53.62,1
212,1,67.00,1,67.00,1,1,73.00,0,1,59.00,0,69.72,1
213,0,74.00,1,66.00,1,1,58.00,0,0,70.00,1,60.23,1
214,1,62.00,0,58.00,1,2,53.00,0,0,89.00,1,60.22,0

In [90]:
#selecting the features and labels
X=data.iloc[:,:-1].values
Y=data.iloc[:,-1].values
Y

array([1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int8)

In [91]:
#dividing the data into train and split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
X_train
data.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,67.00,1,91.00,1,1,58.00,2,0,55.0,1,58.80,1
1,1,79.33,0,78.33,1,2,77.48,2,1,86.5,0,66.28,1
2,1,65.00,0,68.00,0,0,64.00,0,0,75.0,0,57.80,1
3,1,56.00,0,52.00,0,2,52.00,2,0,66.0,1,59.43,0
4,1,85.80,0,73.60,0,1,73.30,0,0,96.8,0,55.50,1

In [92]:
#creating a classifier using sklearn
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X_train,Y_train)
#printing the acc
clf.score(X_test,Y_test)

C:\Users\lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.9534883720930233

In [93]:
#predicting for random value
clf.predict([[1,77,0,95,0,2,80,2,0,0,1,0]])

array([1], dtype=int8)

In [94]:
#creating a Y_pred for test data
Y_pred=clf.predict(X_test)
Y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1],
      dtype=int8)

In [95]:
#evalution of the classifier
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(Y_test, Y_pred)
print(cm)
accuracy_score(Y_test, Y_pred)

[[ 9  2]
 [ 0 32]]

0.9534883720930233